<script id="uib/template/carousel/carousel.html" type="text/ng-template">
    <div ng-mouseenter="pause1()" ng-mouseleave="play1()" class="label-container-indicators" ng-swipe-right="prev()"
         ng-swipe-left="next()">
        <ol class="carousel-indicators" ng-show="slides.length > 1">
            <li ng-repeat="slide in slides track by $index" ng-class="{active: isActive(slide)}"
                ng-click="select(slide)"></li>
        </ol>
        <div class="carousel-inner" ng-transclude></div>
        <a class="left carousel-control" ng-click="prev()" ng-show="slides.length > 1"><span
                class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" ng-click="next()" ng-show="slides.length > 1"><span
                class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</script>

<div id="carousel-generic" class="carousel slide" data-ride="carousel">
    <div id="donation-home-link-wrapper">
        <div id="donation-home-link-container" role="presentation" bs-scrollspy data-target="#donation"
             class="ng-scope">
            <a href="" translate="home.supportLink" id="donation-home-link">
            </a>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 52 51.7" enable-background="new 0 0 52 51.7" xml:space="preserve">
            <polyline fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                48.5,14.6 26,37.1 3.4,14.6 "/>
            </svg>
            <!--<img class="img-responsive" src="app/images/fdr_arrow_down.png">-->
        </div>
    </div>
    <div uib-carousel ng-mouseenter="" active="0" ng-mouseleave="" interval="myInterval">
        <div uib-slide ng-repeat="slide in items track by $index" index="$index">
            <div ng-swipe-right="swipeRight()"  ng-swipe-left="swipeLeft()" class="carousel-img" style="background-image: url({{slide.src}})" ng-if="slide.type === 'image'"></div>

            <div class="video-wrapper" ng-if="slide.type === 'video'">
                <video style="width:100%;height:100%;" id="player1">
                    <!-- Pseudo HTML5 -->
                    <source type="video/youtube" src="https://www.youtube.com/watch?v=WWieNGD2dnk"/>
                </video>
            </div>
            <div ng-if="slide.type === 'threejs'" three-viewport></div>


            <div class="label-carousel-item ng-scope">
                <div class="label-container col-xs-12 col-sm-12 col-md-12 col-lg-12" interval="textInterval">
                    <p translate="{{slide.caption}}" class="ng-scope"></p>
                </div>
            </div>
            <!--<div class="carousel-caption">-->
                <!--<p>{{slide.caption}}</p>-->
            <!--</div>-->
        </div>
    </div>
    <!--<div label-carousel></div>-->
</div> <!-- Carousel -->